@import url("https://fonts.googleapis.com/css2?family=Peralta&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Peralta", system-ui;
}

.container {
  margin: 0 auto;
  height: 100vh;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.viewbox {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: grid;
}

.menu {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.menu-header {
  text-align: center;
}

.menu-header > h1 {
  font-size: 3.5rem;
}

.menu-actions {
  display: flex;
  gap: 2rem;
}

.overlap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(205, 205, 205, 0.482);
  font-size: 24px;
}

.primary-btn {
  border: none;
  background: none;
  font-size: 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
  transition: 500ms;
}

.primary-btn:hover {
  background-color: #cacaca;
  color: white;
}

.footer {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.player {
  background-color: rgb(46, 163, 50);
  border-radius: 15%;
}

.point {
  background-color: rgb(255, 53, 100);
  border-radius: 50%;
}
