* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.viewbox {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: grid;
  margin-bottom: 16px;
  transition: 150ms;
}

.player {
  background-color: rgb(46, 163, 50);
  border-radius: 15%;
}

.point {
  background-color: rgb(255, 53, 100);
  border-radius: 50%;
}
