@import url("https://fonts.googleapis.com/css2?family=Peralta&display=swap");

:root {
  --bg-color: rgb(217, 244, 152);
  --primary-color: rgb(42, 42, 42);
  --secondary-color: rgb(161, 190, 95);
  --overlay-color: rgba(62, 149, 45, 0.313);
  --primary-border: 3px solid rgb(33, 33, 33);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Peralta", system-ui;
  color: var(--primary-color);
}

body {
  background-color: var(--bg-color);
}

.container {
  margin: 0 auto;
  height: 100vh;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.viewbox {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: var(--primary-border);
  display: grid;
}

.menu {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: var(--primary-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.menu-header {
  text-align: center;
}

.menu-header > h1 {
  font-size: 3.5rem;
}

.menu-actions {
  display: flex;
  gap: 2rem;
}

.overlap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--overlay-color);
  font-size: 24px;
}

.primary-btn {
  border: none;
  background: none;
  font-size: 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
  transition: 500ms;
}

.primary-btn:hover {
  background-color: var(--secondary-color);
  color: white;
}

.footer {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.player {
  background-color: var(--primary-color);
  border-radius: 20%;
}

.point {
  background-color: var(--primary-color);
  border-radius: 50%;
}
